#supportWrapper{
    position: fixed;
    width: 700px;
    top: auto;
    bottom: 0px;
    right: 0px;
    left: auto;
}

#mgVideoChat .container{
    width: 100%;
}

.modal-backdrop{
    display: none;
}